# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
venv/
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/
airflow/*.db
airflow/*.cfg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dashboard
dashboard/.streamlit/secrets.toml
